<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello From IndianGPT</h1>
    
    <form action="/test" method="POST">
        <label for="Ques">Question</label>
        <input type="text" name="ques">
        
        <button type="submit">Submit</button>
    </form>
    
    <p>IndianGPT says: <%= message %></p>
</body>
</html>